:root {
  font-family: sans-serif, system-ui, Avenir, Helvetica, Arial;
  line-height: 1.5;
  font-weight: 400;
  color: black;
  background: white;
  height: 100vh;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 600;
  color: black;
  text-decoration: inherit;
  margin-right: 30px;
}

a:hover {
  color: #94BAB5;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
