:root {
  font-family: sans-serif, system-ui;
  line-height: 1.5;
  font-weight: 600;
  color: black;
  background: white;
  height: 100vh;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 600;
  color: black;
  text-decoration: inherit;
}

a:hover {
  color: #94BAB5;
}

button {
  font-weight: 600;
}

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 20px;
}

::-webkit-scrollbar-thumb {
  background: #F4E5D3;
  border-radius: 20px;
  border: 1px solid;
}

::-webkit-scrollbar-thumb:hover {
  background: #E3D5C4;
}


#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
